# Compiled sources
*.o
*.so
*.dll
*.lib
*.a
*.obj
*.com
*.class
*.exe
# Generated Build system files
*.cbp
UBC.layout
Makefile
cmake*.cmake
ubc
CMakeCache.txt
CMakeFiles

# generated header files
config.h

# executables
release/client
release/server
release/ubc
debug/client
debug/server
debug/ubc

# Log Files
Ogre.log
